@font-face {
	font-family: 'Graphik LCG';
	font-weight: 100;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Thin.eot');
	src: local('Graphik LCG Thin'), local('GraphikLCG-Thin'),
			url('../../shared/assets/fonts/GraphikLCG-Thin.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Thin.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Thin.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 200;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Extralight.eot');
	src: local('Graphik LCG Extralight'), local('GraphikLCG-Extralight'),
			url('../../shared/assets/fonts/GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Extralight.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Extralight.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 300;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Light.eot');
	src: local('Graphik LCG Light'), local('GraphikLCG-Light'),
			url('../../shared/assets/fonts/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Light.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Light.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 400;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Regular.eot');
	src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
			url('../../shared/assets/fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Regular.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Regular.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 500;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Medium.eot');
	src: local('Graphik LCG Medium'), local('GraphikLCG-Medium'),
			url('../../shared/assets/fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Medium.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Medium.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 600;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Semibold.eot');
	src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
			url('../../shared/assets/fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Semibold.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Semibold.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 700;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Bold.eot');
	src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'),
			url('../../shared/assets/fonts/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Bold.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Bold.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 800;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Super.eot');
	src: local('Graphik LCG Super'), local('GraphikLCG-Super'),
			url('../../shared/assets/fonts/GraphikLCG-Super.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Super.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Super.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Super.ttf') format('truetype');
}

@font-face {
	font-family: 'Graphik LCG';
	font-weight: 900;
	font-style: normal;
	src: url('../../shared/assets/fonts/GraphikLCG-Black.eot');
	src: local('Graphik LCG Black'), local('GraphikLCG-Black'),
			url('../../shared/assets/fonts/GraphikLCG-Black.eot?#iefix') format('embedded-opentype'),
			url('../../shared/assets/fonts/GraphikLCG-Black.woff2') format('woff2'),
			url('../../shared/assets/fonts/GraphikLCG-Black.woff') format('woff'),
			url('../../shared/assets/fonts/GraphikLCG-Black.ttf') format('truetype');
}
