:root {
  // colors
  --dark-500: #191C1F;
  --dark-300: #5E646A;
  --dark-100: #83898F;
  --gray:#C2C8CD;
  --light-500: #ECEFF2;
  --light-300: #F6F8FA;
  --light-100:#FFF;
  --success-color: #25CD82;
  --error-color: #F13636;
  --primary-color: #2A6CEA;
  --primary-color-disabled: #ABCAE6;
  --primary-color-hover: #397DFF;
}
