.root {
  background-color: var(--light-100);
}

.trigger {
  all: unset;

  cursor: pointer;
  
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  padding: 24px 0;

  background-color: var(--light-100);
  border-top: 1px solid var(--light-300);

  transition: all 0.2s ease-in-out;
  
  & .icon {
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
  }
  
  &:hover {
    color: var(--primary-color);
    
    & .icon {
      color: var(--primary-color);
    }
  }
  
  &[data-state='open'] {
    & .icon {
      transform: rotate(45deg);
    }
  }
}

.content {
  padding-bottom: 24px;
  background-color: var(--light-100);
  
  &[data-state='open'] {
    animation: slide-down 0.3s linear;
  }
  
  &[data-state='closed'] {
    animation: slide-up 0.3s linear;
  }
  
  & .text {
    color: var(--dark-300)
  }
}

@keyframes slide-down {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}
