.list {
  all: unset;
  
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 32px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;

  list-style: none;
  
  @media (max-width: $desktop) {
    grid-template-columns: repeat(2, 342px);
    justify-content: center;
  }
  
  @media (max-width: $tablet) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
