.left-arrow-slider {
  transform: rotate(180deg);
}

.reviews-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-slider {
  height: 416px;
  
  .swiper-pagination {
    bottom: 0;
  }
  
  .swiper-pagination-bullet {
    background-color: var(--gray);
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-button-next {
    right: 0;
  }
  
  .swiper-button-prev,
  .swiper-button-next{
    color: var(--primary-color);
    
    &::after {
      content: ''
    }
    
    .swiper-button-disabled {
      pointer-events: none;
      color: var(--gray);
    }
    
    @media (max-width: $desktop) {
      display: none;
    }
  }
  
  @media (max-width: $tablet) {
    height: unset;
  }
}
