.root {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 26px 16px;
}

.list {
  all: unset;

  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;



  list-style: none;
  
  @media (max-width: $tablet) {
    display: none;
  }
}
